$myFavoriteWhite = #F7F6F1
$graphite = #C9C4B0
$bearFur = #B17E6D
$kastanie = #920012
$regally = #2E0002


$accentColor = $kastanie
$textColor = $regally
$borderColor = $bearFur
$codeBgColor = $graphite
$arrowBgColor = $myFavoriteWhite
$badgeTipColor = $kastanie
$badgeWarningColor = $kastanie
$badgeErrorColor = $kastanie

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px